.bookingForm {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px;
  width: 641px;
  height: 588px;
}

.bookingForm :last-child {
  align-self: center;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  padding-left: 12px;
  margin-bottom: 8px;
}

.formSubtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  padding-left: 12px;
  margin-bottom: 24px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  margin-bottom: 24px;
}

.nameInput {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}
.emailInput {
  border-radius: 10px;
  padding: 18px 341px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  border: none;
  outline: none;
}
.dateInput {
  border-radius: 12px;
  padding: 18px 18px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  border: none;
  outline: none;
}
.commentInput {
  border-radius: 10px;
  padding: 18px 308px 76px 18px;
  width: 527px;
  height: 118px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  border: none;
  outline: none;
  resize: none;
}

.inputError {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin: 0;
}

.successMessage {
  background-color: #d4edda;
  color: #155724;
  padding: 1rem;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1rem;
}
