.bookingForm {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px;
  width: 641px;
  height: 588px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* align-items: center; */
}

.bookingForm :last-child {
  align-self: center;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}
.nameInput {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  border: none;
}

.emailInput {
  border-radius: 10px;
  padding: 18px 341px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  border: none;
}

.dateInput {
  border-radius: 12px;
  padding: 18px 282px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  border: none;
}

.commentInput {
  border-radius: 10px;
  padding: 18px 308px 76px 18px;
  width: 527px;
  height: 118px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  border: none;
  resize: none;
}
