.filtersContainer {
  width: 360px;
}

.locationInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.locationInput label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.locationIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.locationInput input {
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  width: 360px;
  height: 56px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  border: none;
}

.equipmentSection {
  margin-bottom: 32px;
}

.filtersTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 32px;
}

.equipmentTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 24px;
}

.separator {
  border: none;
  border-top: 1px solid var(--gray-light);
  margin-bottom: 24px;
}

.equipmentButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 360px;
  height: 200px;
}

.equipmentButtons button {
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 40px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  mix-blend-mode: multiply;
  align-items: center;
  justify-content: center;
  background: var(--background);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

.equipmentButtons button:hover {
  border: 1px solid var(--button);
}

.bodyTypeSection {
  margin-bottom: 40px;
}

.bodyTypeTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 24px;
}

.bodyTypeButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 360px;
  height: 96px;
}

.bodyTypeButtons button {
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 40px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  mix-blend-mode: multiply;
  align-items: center;
  justify-content: center;
  background: var(--background);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

.bodyTypeButtons button:hover {
  border: 1px solid var(--button);
  /* background: var(--main); */
  /* color: var(--white); */
}
