.reviewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
  border-radius: 10px;
  /* padding: 44px 80px; */
  width: 631px;
  height: 340px;
  background: var(--background);
  /* flex: 1; */
}
