:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.loader {
  display: flex;
  gap: 5px;
  margin-left: calc((100% - 130px) / 2);
  margin-top: 40px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--gray);
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
}
.dot:nth-child(4) {
  animation-delay: 0.2s;
}
.dot:nth-child(5) {
  animation-delay: 0.4s;
}
.dot:nth-child(6) {
  animation-delay: 0.1s;
}
.dot:nth-child(7) {
  animation-delay: 0.3s;
}
.dot:nth-child(8) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* .react-datepicker-wrapper {
  background-color: #e44848 !important;
} */
.react-datepicker {
  border-radius: 12px !important;
  padding: 18px 282px 18px 18px !important;
  width: 276px !important;
  height: 284px !important;
  background-color: var(--background) !important;
  font-family: var(--font-family) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  text-align: center !important;
  color: var(--main) !important;
}
.react-datepicker__header {
  background: var(--background) !important;
  color: var(--main) !important;
  border-bottom: 1px solid var(--main) !important;
}
.react-datepicker__day,
.react-datepicker__day-name {
  color: var(--main) !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: #1a73e8 !important;
  color: #fff !important;
  border-radius: 50% !important;
}
.react-datepicker__close-icon {
  filter: invert(1) !important;
}

.react-datepicker__navigation-icon {
  top: 15px !important;
  border-color: #1a73e8 !important;
  fill: #1a73e8 !important;
  stroke: #1a73e8 !important;
}
.react-datepicker__navigation--previous {
  border-color: transparent transparent transparent #1a73e8 !important; /* колір стрілки ліворуч */
}

.react-datepicker__navigation--next {
  border-color: transparent #1a73e8 transparent transparent !important; /* колір стрілки праворуч */
}
