.background {
  background-image: url('/home_picture.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.btn {
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
  background: var(--button);
  border-color: transparent;
}
