.heart {
  cursor: pointer;
  fill: black;
  transition: fill 0.3s ease;
  border: none;
  padding: 1px;
  width: 26px;
  height: 24px;
  outline: none;
  margin-left: 12px;
  /* box-sizing: border-box; */
}

.selected {
  fill: red;
  outline: none;
}
